# Add environment variables in this file.
# Remove this file there is no environment variables.

AZURE_SUBSCRIPTION_ID=<<secret>>
AZURE_RESOURCE_GROUP=<<not_secret>>
AZURE_WORKSPACE_NAME=<<not_secret>>
